<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PIC_PPS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <PIC_PPS.My.MySettings>
            <setting name="XMLLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="PIC" serializeAs="String">
                <value/>
            </setting>
            <setting name="XMLSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="cachePPS" serializeAs="String">
                <value>True</value>
            </setting>
        </PIC_PPS.My.MySettings>
    </userSettings>
</configuration>
